form h2 {
  text-align: center;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-weight: 550;
  color: #ffffff;
  text-shadow:
    0 0 5px #b388ff,
    0 0 10px #b388ff,
    0 0 20px #b388ff;
}

.form-control {
  display: grid;
  height: 40px;
  grid-template-columns: 1fr 105px;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border: 1px solid #ddd;
  text-transform: none;
}

.form-input::placeholder {
  color: #9e9797;
}

.form-control .btn {
  cursor: pointer;
  color: #ffffff;
  background: #06b6d4;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  border: transparent;
  border-radius: 0;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 0.375rem 0.75rem;
  text-transform: capitalize;
}

.form-control .btn:hover {
  background: #0e7490;
}

@media (max-width: 600px) {
  .form-control {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .form-input {
    border-radius: 0.4rem;
  }

  .form-control .btn {
    width: 100%;
    border-radius: 0.4rem;
  }
}